.menu {
    -fx-background-image: url("../image/background/fondJeu.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.harvest-bar {
    -fx-accent: green;
    -fx-box-border: black;
    -fx-background-color: gray; 
    -fx-padding: 15;
}